#one{
    background-color: hotpink;
    height:200px;
}
#two{
    background-color: green;
    height:200px;
}
#three{
    background-color: olive;
    height:200px;
}
#four{
    background-color: yellow;
    height:200px;
}
#five{
    background-color: orangered;
    height:200px;
}
#six{
    background-color: saddlebrown;
    height:200px;
}
